BFF_PORT=8080
CATALOGS_PORT=8081
TRANSFERS_PORT=8082

CATALOGS_DB_NAME=catalogs
CATALOGS_DB_USER=catalogs
CATALOGS_DB_PASSWORD=change-this-catalogs-password
CATALOGS_JPA_DDL_AUTO=update

TRANSFERS_DB_NAME=transfers
TRANSFERS_DB_USER=transfers
TRANSFERS_DB_PASSWORD=change-this-transfers-password
TRANSFERS_JPA_DDL_AUTO=update